h1 {
  font-size: 28px;
  margin: 0;
  padding-top: 20px;
}

h2 {
  font-size: 22px;
  margin: 0;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 17px;
  margin: 0;
}

@font-face {
  font-family: 'TTSupermolotNeue';
  src: url("./TTSupermolotNeue-Medium.woff2");
  font-weight: normal;
  font-style: 500;
}

@font-face {
  font-family: 'TTSupermolotNeue';
  src: url("./TTSupermolotNeue-Regular.woff2");
  font-weight: normal;
  font-style: 400;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'TTSupermolotNeue';
  overflow: scroll;
}

.container {
  margin-top: 0px;
  margin-left: 160px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 910px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 524px) {
  .container {
    width: 95%;
  }
}

.header {
  background-color: #F3C623;
  width: 96px;
  height: 100%;
  position: fixed;
  left: 0;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
}

.logo img {
  width: 65px;
  padding: 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

nav ul {
  left: 0;
  position: absolute;
  padding-left: 0px;
  top: 25%;
}

nav li {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 77px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li::hover {
  font-size: 20px;
}

nav li div {
  background-color: black;
  width: 1px;
  height: 23px;
}

hr {
  color: black;
  background-color: #cdcdcd;
}

.content {
  margin-top: 0;
}

.gallery {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 70%;
}

.card {
  width: 269px;
  height: 362px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
  padding: 20px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img_wrp {
  width: 170px;
  height: 165px;
  margin: 0 auto;
}

.card_info {
  height: 86px;
}

.photo {
  height: 170px;
  margin: 0 auto;
}

.photo #napitki {
  width: 60px;
}

.drinks {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.drinks img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 15%;
  left: -10%;
}

.shaurmicon {
  height: 62px;
  width: 61px;
  position: absolute;
}

.card_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  margin-top: 20px;
  white-space: nowrap;
  word-wrap: break-word;
}

.card_title p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10px;
  height: 15px;
  margin: 0;
  font-size: 15px;
}

.description {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Geometria';
  padding: 0;
  color: #838383;
  line-height: 16px;
}

.price {
  font-size: 21px;
  font-family: 'Geometria';
  font-weight: 500;
}

.card button {
  width: 118px;
  height: 40px;
  border-radius: 15px;
  background-color: #F3C623;
  text-align: center;
  font-size: 14px;
  font-family: 'Geometria';
  border: none;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14), 0px 3px 14px rgba(153, 153, 153, 0.12), 0px 4px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14), 0px 3px 14px rgba(153, 153, 153, 0.12), 0px 4px 5px rgba(233, 233, 233, 0.2);
}

.card button:hover {
  background-color: #fbbc04;
}

.card button:active {
  background-color: #fbbc04;
  -webkit-box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14), 0px 3px 14px rgba(153, 153, 153, 0.12), 0px 4px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14), 0px 3px 14px rgba(153, 153, 153, 0.12), 0px 4px 5px rgba(233, 233, 233, 0.2);
}

.price_wrp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#dostavka, #oplata {
  -webkit-box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
  height: 222px;
  width: 360px;
  margin-right: 15px;
  padding: 40px;
  border-radius: 20px;
}

#dostavka h4, #oplata h4 {
  padding-top: 20px;
}

.dostav_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.dostavka_price {
  font-weight: 400px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.dostavka_price p {
  margin-bottom: -10;
}

.dostavka_price span {
  margin: 0;
  padding-top: 0;
}

.big {
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
}

.bold {
  font-weight: 600;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-left: -10px;
}

.footer {
  margin-top: 150px;
  color: white;
  background-color: #3c663b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 160px;
  padding-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 163px;
}

.footer h3 {
  font-weight: 400;
}

.footer h3, .footer p {
  margin: 0;
}

.footer .big {
  margin-top: 5px;
}

.insta {
  background-image: url(/img/insta.svg);
  height: 37px;
  width: 37px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: blue;
}

.cart {
  font-family: Roboto, 'sans-serif';
  position: fixed;
  height: 100%;
  margin-right: 0 !important;
  font-size: 12px;
  right: 0;
  width: 344px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
          box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14), 0px 3px 4px rgba(153, 153, 153, 0.12), 0px 1px 5px rgba(233, 233, 233, 0.2);
  background-color: white;
}

.cart ol, .cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-title__wrp {
  margin: 0 auto;
  padding: 16px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #e3e4e6;
          box-shadow: 0 1px 0 0 #e3e4e6;
  font-weight: 600;
  font-size: 15px;
  background-color: #F4F8F8;
}

.cart-icon {
  margin-right: 10px;
}

.cart-icon img {
  width: 24px;
}

.cart__wrp {
  height: calc(100% - 72px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1px 0 0 0;
  padding: 16px 40px;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 0 0 #e3e4e6;
          box-shadow: 0 1px 0 0 #e3e4e6;
}

.cart-product__name {
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.cart-product__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% - 50px);
}

.cart-product__price {
  font-weight: 500;
}

.cart-product__quantity-container {
  width: 24px;
  height: 24px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 0 auto;
}

.cart-product__quantity-slider {
  width: 88px;
  position: absolute;
  right: -32px;
}

.cart-product:hover {
  background-color: #f9f9f9;
}

.cart-product:hover .cart-product__quantity-container {
  overflow: visible;
}

.cart-product:hover .cart-product__quantity-slider {
  right: -25px;
  -webkit-transition: right 0.2s ease;
  transition: right 0.2s ease;
}

.cart-product:hover button {
  cursor: pointer;
}

.product-quantity-controls {
  background-color: transparent;
}

.product-quantity-controls__container {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-quantity-controls__plus, .product-quantity-controls__minus {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}

.product-quantity-controls__plus {
  margin-left: 8px;
}

.product-quantity-controls__minus {
  margin-right: 8px;
}

.product-quantity-controls__value {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  font-size: 12px;
  line-height: 24px;
  background-color: #919399;
  color: #fff;
}

.product-quantity-controls__minus {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.product-quantity-controls__minus .transparent {
  margin-right: 8px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
}

.product-quantity-controls__plus {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.product-quantity-controls__plus .transparent {
  margin-left: 8px;
}

.cart-delivery {
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.cart-delivery__content {
  margin-top: 0;
  padding: 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 0 0 #e3e4e6;
          box-shadow: 0 1px 0 0 #e3e4e6;
}

.cart-delivery__cost {
  font-weight: 600;
}

.cart-alert {
  padding: 24px;
  padding-left: 50px;
  padding-right: 40px;
}

.cart-alert__text {
  display: block;
  position: relative;
  width: 100%;
  margin-left: -10px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #2e2e33;
  word-wrap: break-word;
  white-space: normal;
  border-left: 2px solid #ED3500;
  text-align: left;
}

.cart-submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
}

.cart-submit button {
  width: 100%;
  background-color: #95D6A4;
  border-radius: 4px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  font-weight: 600;
  line-height: 48px;
  font-size: 15px;
  cursor: pointer;
}
/*# sourceMappingURL=batya.css.map */