$lg: 1440px;
$md: 1280px;
$sm: 1040px;
$xs: 910px;
$xxs: 524px;
$mob: 320px;
$yellow: #F3C623;
$mint_light: #F4F8F8;
$mint: #95D6A4;

h1 {
    font-size: 28px;
    margin: 0;
    padding-top: 20px;
}

h2 {
    font-size: 22px;
    margin: 0;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 17px;
    margin: 0;
  
}



@font-face { 
    font-family: 'TTSupermolotNeue'; 
    src: url('./Fonts/TTSupermolotNeue-Medium.woff2');    
    font-weight: normal;
    font-style: 500;      }

@font-face { 
    font-family: 'TTSupermolotNeue'; 
    src: url('./Fonts/TTSupermolotNeue-Regular.woff2');    
    font-weight: normal;
    font-style: 400;      }


html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'TTSupermolotNeue';
    overflow: scroll;
    
}

.container {

    margin-top: 0px;
    margin-left: 160px;

    @media screen and (max-width: $lg) {
      width: 1440px;
    }
    @media screen and (max-width: $md) {
      width: 1280px;
    }
    @media screen and (max-width: $sm) {
      width: 95%;
    }
    @media screen and (max-width: $xs) {
      width: 95%;
    }
    @media screen and (max-width: $xxs) {
      width: 95%;
    }
  
  }

.header {
    background-color: $yellow;
    width: 96px;
    height: 100%;
    position: fixed;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
     0px 3px 4px rgba(0, 0, 0, 0.12),
     0px 1px 5px rgba(233, 233, 233, 0.2);
    
 
    
}

.logo img{
    width: 65px;
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
}

nav ul {
   
   left: 0;
   position: absolute;
   padding-left: 0px;
   top: 25%;
   
}

nav li {
    transform: rotate(-90deg);
    height: 77px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    
}

nav li::hover {
    font-size: 20px;  
}

 nav li div {
    background-color: black;
    width: 1px;
    height: 23px;

 }

 hr {
     color: black;
     background-color: #cdcdcd;
 }

 .content {
     
     margin-top: 0;
 }

 .gallery {
     margin-top: 50px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     max-width: 70%;
 }

 .card {
     width: 269px;
     height: 362px;
     border-radius: 20px;
     box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14),
     0px 3px 4px rgba(153, 153, 153, 0.12),
     0px 1px 5px rgba(233, 233, 233, 0.2);
     padding: 20px;
     padding-bottom: 5px;
     margin-right: 15px;
     margin-bottom: 15px;
     box-sizing: border-box;       
}

.img_wrp {
     width: 170px;
     height: 165px;
    margin: 0 auto;
}
     


.card_info {
     height: 86px;
}

.photo {
    height: 170px; 
    margin: 0 auto;
    #napitki {
        width: 60px;
    }
}


.drinks {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    
    img {
        
        position: absolute;
        width: 70px;
        height: 70px;
        top: 15%;
        left: -10%;
    }
}

.shaurmicon {
     height: 62px;
     width: 61px;
     position: absolute;

}


 .card_title {
   display: flex; 
   margin-bottom: 0; 
   margin-top: 20px;
   white-space: nowrap;
   word-wrap: break-word;
   
   p {
       text-align: center;
       align-self: center;
       padding-left: 10px;
       height: 15px;
       margin: 0;
       font-size: 15px;
       
   }
   
 }

 .description {
     font-size: 12px;
     font-weight: 300;
     font-family: 'Geometria';
     padding: 0;
     color: #838383;
     line-height: 16px;
 }

 .price {
     font-size: 21px;
     font-family: 'Geometria';
     font-weight: 500;
     
 }

 .card button {
    
        width: 118px;
        height: 40px;
        border-radius: 15px;
        background-color: $yellow;
        text-align: center;
        font-size: 14px;
        font-family: 'Geometria';
        border: none;
        font-weight: 500;
        align-self: center; 
        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14),
        0px 3px 4px rgba(153, 153, 153, 0.12),
        0px 1px 5px rgba(233, 233, 233, 0.2); 
        cursor: pointer;

 }

.card:hover {
    box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14),
     0px 3px 14px rgba(153, 153, 153, 0.12),
     0px 4px 5px rgba(233, 233, 233, 0.2);
}

.card button:hover {
    background-color: #fbbc04;
}

.card button:active {
    background-color: #fbbc04;
    box-shadow: 0px 8px 10px rgba(153, 153, 153, 0.14),
     0px 3px 14px rgba(153, 153, 153, 0.12),
     0px 4px 5px rgba(233, 233, 233, 0.2);
}

 .price_wrp {
    justify-content: space-between;
    display: flex;
 }

 #dostavka, #oplata {
    box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14),
    0px 3px 4px rgba(153, 153, 153, 0.12),
     0px 1px 5px rgba(233, 233, 233, 0.2);
     height: 222px;
     width: 360px;
     margin-right: 15px;
     padding: 40px;
     border-radius: 20px;
     h4 {
         padding-top: 20px;
     }
 }

 .dostav_cards {
    display: flex;
    margin-top: 50px;    
 }

 .dostavka_price { 
     p {
         margin-bottom: -10;
     }
    span {
    margin: 0;
    padding-top: 0;
     }
     font-weight: 400px;
     margin-bottom: 30px;
     margin-top: 15px;
 }

 .big {
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    
 }

 .bold {
     font-weight: 600;
 }

 .icons {
     display: flex;
    padding-top: 15px; 
    padding-left: -10px
 }

 .footer {
     margin-top: 150px;
     color: white;
     background-color: #3c663b;
     display: flex;
     padding-left: 160px;
     padding-right: 100px;
     justify-content: space-between;
     align-items: center;
     width: 60%;
     height: 163px;
     h3 {
         font-weight: 400;
     }
     h3,p {
         margin: 0;
     }
     .big {
         margin-top: 5px;
     }
 }

 .insta {
     background-image: url(/img/insta.svg);
     height: 37px;
     width: 37px;
 }

a {
    text-decoration: none;
    color: black;
}

.active {
    color: blue;
}

.cart {
    font-family: Roboto, 'sans-serif';
    position: fixed;
    height: 100%;
    margin-right: 0 !important;
    font-size: 12px;
    right: 0;
    width: 344px;
    text-align: center;
    
     ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.cart-zakaz {
    font-family: Roboto, 'sans-serif';
    height: 100%;
    font-size: 12px;
    right: 0;
    width: 344px;
    text-align: center;
    
     ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


.cart-title__wrp {
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 0 #e3e4e6;
    font-weight: 600;
    font-size: 15px;
    background-color: $mint_light;
} 

.cart-icon {
    margin-right: 10px;
    img {
    width: 24px;
    }
}

.cart__wrp {
    height: calc(100% - 72px);
    //padding: 0 10px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.14),
    0px 3px 4px rgba(153, 153, 153, 0.12),
     0px 1px 5px rgba(233, 233, 233, 0.2);
     background-color: white;
}

/*.fr4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}*/

.cart-product {
    display: flex;
    justify-content: space-between;
    margin: 1px 0 0 0;
    padding: 16px 40px;
    background-color: transparent;
    box-shadow: 0 1px 0 0 #e3e4e6;
    &__name {
        font-size: 12px;
        line-height: 16px;
        width: 130px;
        padding-right: 10px;
        box-sizing: border-box;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
    }
    &__row {
        flex-wrap: wrap;
        display: inline-flex;
        //justify-content: space-between;
        width: calc(100% - 50px);
        
    }
    &__price {
        font-weight: 500;
    }
    &__quantity-container {
        width: 24px;
        height: 24px;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        margin: 0 auto;
    }
    &__quantity-slider {
        width: 88px;
        position: absolute;
        right: -32px;
    }
   &:hover {
       background-color: #f9f9f9;
   }
    
}

.cart-product:hover {
    
    .cart-product__quantity-container {
    overflow: visible;
    }
    .cart-product__quantity-slider {
    right: -25px;
    transition: right 0.2s ease;
    }
    button {
        cursor: pointer;
    }
}


.product-quantity-controls {
    &__container {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    &__plus, &__minus {
        border: none;
        //font-size: 30px;
        background-color: transparent;
        width: 24px;
        height: 24px;
        padding: 0;
    }
    &__plus {
        margin-left: 8px;
    }
    &__minus {
        margin-right: 8px;
    }
    background-color: transparent;
}

.product-quantity-controls__value {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
    font-size: 12px;
    line-height: 24px;
    background-color: #919399;
    color: #fff;
}

.product-quantity-controls__minus {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.product-quantity-controls__minus .transparent {
    margin-right: 8px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
}

.product-quantity-controls__plus {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.product-quantity-controls__plus .transparent {
    margin-left: 8px;
}

.cart-delivery {
    height: 56px;
    //padding: 0 10px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    &__content {
        margin-top: 0;
        padding: 18px 40px;
        display: flex;
        background-color: transparent;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 1px 0 0 #e3e4e6;
        }
   
    &__cost {
        font-weight: 600;
    }
}




.cart-alert {
    padding: 24px;
    padding-left: 50px;
    padding-right: 40px;
    &__text {
        display: block;
        position: relative;
        width: 100%;
        margin-left: -10px;
        padding-left: 8px;
        font-size: 12px;
        line-height: 16px;
        color: #2e2e33;
        word-wrap: break-word;
        white-space: normal;
        border-left: 2px solid #ED3500;
        text-align: left;
    
    }
}

.cart-submit {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    button {
        width: 100%;
        background-color: #95D6A4;
        border-radius: 4px;
        border: none;
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        font-weight: 600;
        line-height: 48px;
        font-size: 15px;
        cursor: pointer;
    }
}

.add-or-remove {
    visibility: hidden;
}

.zakaz {
    width: 500px;
    margin: 0 auto;
}

.form_field {
    margin-bottom: 8px;
    width: 100%;
}

.label--def {
    display: block;
    position: relative;
    font-size: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.input--def {
    border-bottom: 1px solid #e3e4e6;
    
    font-size: 15px;
    width: 100%;
    line-height: 17px;
    padding: 30px 0 8px 0;
    transition: border-bottom .3s ease;
    .filled {
        color: #2e2e33;
    }
    
}

input:focus {
    
        border-bottom: 1px solid #2e2e33;
}

input, textarea, textarea:focus {
    background-color: transparent;
    outline: none;
    border: 0;
}

.label-title--def {
    font-size: 12px;
    top: 8px;
    color: #919399;
    line-height: 16px;
}

.label--def__hint {
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
}

.submit {
    cursor: pointer;
    background-color: $mint;
    width: 200px;
    height: 60px;

}

.is-short {
    display: inline-block;
    width: 22%;
}

.form-field.is-short:nth-child(2n) .form-field__wrap {
    padding-right: 4px;
}

.checkout-form {

    &__comment-container {
        width: 100%;
        margin-top: 30px;
    }
    &__comment-title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    &__short {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__section {
        max-width: 560px;
        margin: 0 auto;
        padding: 48px 96px 0;
        border-top: 0;
    }
    &__container {
        padding-bottom: 0;
        background-color: #fff;
    }
    &__address-suggest {
        position: relative;
        width: 100%;
        height: 76px;
    }
    
}
.address-suggest-simple {
    &__wrapper {
    width: 100%;
    position: relative;
    }
    &__search-field {
        z-index: 40;
    }
}

.checkout-form-comment__container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: #f6f6f6;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.headline {
    margin: 0 auto;
    padding-left: 32px;
}


.right-column {
    padding-left: 70px;
}

.column-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 48px 32px 0;
}

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.modal-container {
    width: 1200px;
    margin: 0 auto;
}

.modal {
    background-color: #f6f6f6;
}

.itogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    h3 {
        font-weight: 400;
    }
    padding: 16px 40px;
    #head-total {
        font-weight: 600;
        font-size: 22px;
    }
    
}

.checkout-form {
    &__section {
        max-width: 560px;
        margin: 0 auto;
        padding: 48px 96px 0;
        border-top: 0;
    }
    &__submit-button {
        height: 72px;
        padding: 48px 96px;
        max-width: 560px;
        margin: 0 auto;
        border-top: 0;
        position: initial;
        bottom: initial;
        left: initial;
        right: initial;
        width: initial;
        background-color: initial;
        box-shadow: initial;
        box-sizing: initial;
      
    }
}

.checkout-form-button__container {
    max-width: 560px;
    margin: 0 auto;
    border-top: 0;
    position: initial;
    bottom: initial;
    left: initial;
    right: initial;
    width: initial;
    background-color: initial;
    box-shadow: initial;
    box-sizing: initial;
}

.checkout-form-button__area {
    height: 56px;
    line-height: 56px;
    background-color: $mint;
    border: none;
    width: 100%;
}